@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@200;300;400&family=Roboto:wght@100;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f6f7f8; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-margin-top: 80px;
}

:root {
  --gradient-1: #d947bc;
  --gradient-2: #51369f;
  --light-bg: #f6f7f8;
  --light-text: #787878;
  --header-height: 360px;
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}
